---
layout: base.njk
title: Research
---
{% from "macros.njk" import areaPanel, minorArea, pageBand %}
{{ pageBand("Research", "Research areas", "CFP brings together theorists working on quantum materials, quantum field theory and gravitation. Many projects cross these boundaries, from lattice field theory to black holes in holography.") }}
<div class="wrap">
  <section class="section">
    <div class="areas">{% for a in areas %}{% if a.core %}{{ areaPanel(a, people | inArea(a.id)) }}{% endif %}{% endfor %}</div>
    <div class="minor-areas">{% for a in areas %}{% if not a.core %}{{ minorArea(a) }}{% endif %}{% endfor %}</div>
  </section>
</div>
